__pycache__
.DS_Store
.env
tmp
default.vim
managed-modules
venv*
node_modules
.vercel
.vscode
*.log
upgrade-report.html
public
*.pyc
.temp
.cache
dist
origin.dump
filestore
upgraded.dump
thirdparty/*
!thirdparty/.gitkeep
.idea/
.obsidian
*.swp
odoo.conf