# Build

__pycache__
*.pyc
venv*
node_modules
.vercel
public
.temp
.cache
dist

# File management

.DS_Store

# IDEs

default.vim
.vscode
.idea
.obsidian
*.swp

# Odoo

*.log
upgrade-report.html
origin.dump
upgraded.dump
thirdparty/*
!thirdparty/.gitkeep
.env
tmp
odoo.conf

# Deprecated repos

addons/certificate_planer
addons/company
addons/theme_mint_system