[submodule "addons/show_db_name"]
	path = addons/show_db_name
	url = git@github.com:Mint-System/Odoo-App-Show-DB-Name.git
	branch = 14.0
[submodule "addons/auth_oauth_keycloak"]
	path = addons/auth_oauth_keycloak
	url = git@github.com:Mint-System/Odoo-App-Auth-OAuth-Keycloak.git
	branch = 14.0
[submodule "addons/theme_mint_system"]
	path = addons/theme_mint_system
	url = git@github.com:Mint-System/Odoo-Theme-Mint-System.git
	branch = 14.0
[submodule "addons/stock_report"]
	path = addons/stock_report
	url = git@github.com:Mint-System/Odoo-App-Stock-Report.git
	branch = 14.0
[submodule "enterprise"]
	path = enterprise
	url = git@github.com:odoo/enterprise.git
	branch = 14.0
[submodule "odoo"]
	path = odoo
	url = git@github.com:odoo/odoo.git
	branch = 14.0
[submodule "oca/project"]
	path = oca/project
	url = git@github.com:OCA/project.git
	branch = 14.0
[submodule "oca/l10n-switzerland"]
	path = oca/l10n-switzerland
	url = git@github.com:OCA/l10n-switzerland.git
	branch = 14.0
[submodule "oca/knowledge"]
	path = oca/knowledge
	url = git@github.com:OCA/knowledge.git
	branch = 14.0
[submodule "oca/crm"]
	path = oca/crm
	url = git@github.com:OCA/crm.git
	branch = 14.0
[submodule "oca/timesheet"]
	path = oca/timesheet
	url = git@github.com:OCA/timesheet.git
	branch = 14.0
[submodule "oca/web"]
	path = oca/web
	url = git@github.com:OCA/web.git
	branch = 14.0
[submodule "oca/server-auth"]
	path = oca/server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 14.0
[submodule "addons/certificate_planer"]
	path = addons/certificate_planer
	url = git@github.com:Mint-System/Certificate-Planer.git
	branch = 14.0
[submodule "oca/hr-holidays"]
	path = oca/hr-holidays
	url = git@github.com:OCA/hr-holidays.git
	branch = 14.0
[submodule "oca/hr-attendance"]
	path = oca/hr-attendance
	url = git@github.com:OCA/hr-attendance.git
	branch = 14.0
[submodule "addons/gio_payroll_custom"]
	path = addons/gio_payroll_custom
	url = git@gitlab.com:mint-system/odoo-app-hr-payroll-share.git
	branch = 14.0
[submodule "addons/gio_py3o_addon"]
	path = addons/gio_py3o_addon
	url = git@gitlab.com:mint-system/odoo-app-hr-payroll-report.git
	branch = 14.0
[submodule "addons/eksb_layout"]
	path = addons/eksb_layout
	url = git@github.com:Mint-System/Odoo-App-EKSB-Layout.git
	branch = 14.0
[submodule "oca/server-backend"]
	path = oca/server-backend
	url = git@github.com:OCA/server-backend.git
	branch = 14.0
[submodule "addons/mrp_documents_share"]
	path = addons/mrp_documents_share
	url = git@github.com:Mint-System/Odoo-App-MRP-Documents-Share.git
	branch = 14.0
[submodule "addons/dev_blanket_sale_order"]
	path = addons/dev_blanket_sale_order
	url = git@gitlab.com:mint-system/odoo-app-blanket-sale-order.git
	branch = 14.0
[submodule "addons/demand_planner"]
	path = addons/demand_planner
	url = git@github.com:Mint-System/Demand-Planner.git
	branch = 14.0
[submodule "addons/eq_cancel_mrp_orders"]
	path = addons/eq_cancel_mrp_orders
	url = git@gitlab.com:mint-system/odoo-app-cancel-manufacturing-order.git
	branch = 14.0
[submodule "oca/stock-logistics-workflow"]
	path = oca/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 14.0
[submodule "oca/server-ux"]
	path = oca/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 14.0
[submodule "addons/oms_layout"]
	path = addons/oms_layout
	url = git@github.com:Mint-System/Odoo-App-OMS-Layout.git
	branch = 14.0
[submodule "addons/home_background_image"]
	path = addons/home_background_image
	url = git@github.com:janikvonrotz/Odoo-App-Home-Background-Image.git
	branch = 14.0
[submodule "oca/partner-contact"]
	path = oca/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 14.0
[submodule "addons/company"]
	path = addons/company
	url = git@github.com:Mint-System/Odoo-Apps-Company.git
	branch = 14.0
[submodule "oca/website"]
	path = oca/website
	url = https://github.com/OCA/website.git
	branch = 14.0
[submodule "addons/product_attribute"]
	path = addons/product_attribute
	url = git@github.com:Mint-System/Odoo-Apps-Product-Attribute.git
	branch = 14.0
[submodule "themes"]
	path = themes
	url = git@github.com:odoo/design-themes.git
	branch = 14.0
[submodule "addons/gio_generic_excel_addon"]
	path = addons/gio_generic_excel_addon
	url = git@gitlab.com:mint-system/odoo-app-generic-excel-addon.git
	branch = 14.0
[submodule "oca/reporting-engine"]
	path = oca/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 14.0
[submodule "oca/server-tools"]
	path = oca/server-tools
	url = git@github.com:OCA/server-tools.git
[submodule "addons/delegations"]
	path = addons/delegations
	url = git@gitlab.com:mint-system/odoo-apps-delegations.git
	branch = 14.0
[submodule "addons/hr"]
	path = addons/hr
	url = git@github.com:Mint-System/Odoo-Apps-HR.git
	branch = 14.0
[submodule "addons/impersonate"]
	path = addons/impersonate
	url = git@gitlab.com:mint-system/odoo-app-impersonate.git
	branch = 14.0
[submodule "addons/board_users"]
	path = addons/board_users
	url = git@github.com:Mint-System/Odoo-App-Board-Users.git
	branch = 14.0
[submodule "oca/product-attribute"]
	path = oca/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 14.0
[submodule "oca/sale-workflow"]
	path = oca/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 14.0
[submodule "addons/purchase_workflow"]
	path = addons/purchase_workflow
	url = git@github.com:Mint-System/Odoo-Apps-Purchase-Workflow.git
	branch = 14.0
[submodule "oca/dms"]
	path = oca/dms
	url = git@github.com:OCA/dms.git
	branch = 14.0
[submodule "oca/social"]
	path = oca/social
	url = git@github.com:OCA/social.git
	branch = 14.0
[submodule "oca/bank-statement-import"]
	path = oca/bank-statement-import
	url = git@github.com:OCA/bank-statement-import.git
	branch = 14.0
[submodule "addons/website"]
	path = addons/website
	url = git@github.com:Mint-System/Odoo-Apps-Website.git
	branch = 14.0
[submodule "addons/account_invoicing"]
	path = addons/account_invoicing
	url = git@github.com:Mint-System/Odoo-Apps-Account-Invoicing.git
	branch = 14.0
[submodule "addons/sale_workflow"]
	path = addons/sale_workflow
	url = git@github.com:mint-system/odoo-apps-sale-workflow.git
	branch = 14.0
[submodule "oca/rest-framework"]
	path = oca/rest-framework
	url = git@github.com:OCA/rest-framework.git
	branch = 14.0
[submodule "addons/demodata"]
	path = addons/demodata
	url = git@github.com:Mint-System/Odoo-Apps-Demodata.git
	branch = 14.0
[submodule "addons/partner_contact"]
	path = addons/partner_contact
	url = git@github.com:Mint-System/Odoo-Apps-Partner-Contact.git
	branch = 14.0
