[submodule "enterprise"]
	path = enterprise
	url = git@github.com:odoo/enterprise.git
	branch = 17.0
[submodule "odoo"]
	path = odoo
	url = git@github.com:odoo/odoo.git
	branch = 17.0
[submodule "themes"]
	path = themes
	url = git@github.com:odoo/design-themes.git
	branch = 17.0
[submodule "addons/server_tools"]
	path = addons/server_tools
	url = git@github.com:Mint-System/Odoo-Apps-Server-Tools.git
	branch = 17.0
[submodule "addons/project"]
	path = addons/project
	url = git@github.com:Mint-System/Odoo-Apps-Project.git
	branch = 17.0
[submodule "oca/sale-workflow"]
	path = oca/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 17.0
[submodule "addons/hr"]
	path = addons/hr
	url = git@github.com:Mint-System/Odoo-Apps-HR.git
	branch = 17.0
[submodule "addons/stock_logistics_workflow"]
	path = addons/stock_logistics_workflow
	url = git@github.com:Mint-System/Odoo-Apps-Stock-Logistics-Workflow.git
	branch = 17.0
[submodule "addons/manufacture"]
	path = addons/manufacture
	url = git@github.com:Mint-System/Odoo-Apps-manufacture.git
	branch = 17.0
[submodule "oca/stock-logistics-workflow"]
	path = oca/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 17.0
