version: "3"
services:
  odoo:
    container_name: odoo
    image: "odoo:${ODOO_REVISION}"
    depends_on:
      - db
    environment:
      HOST: db
      USER: odoo
      PASSWORD: odoo
    ports:
      - "127.0.0.1:8069:8069"
    volumes:
      - odoo-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/addons
      - ./oca:/mnt/oca
      - ./enterprise:/mnt/enterprise
      - ./themes:/mnt/themes
  admin:
    container_name: admin
    image: dpage/pgadmin4:6
    depends_on:
      - db
    ports:
      - "127.0.0.1:8000:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    volumes:
      - admin-data:/var/lib/pgadmin
      - ./config/servers.json:/pgadmin4/servers.json
  db:
    container_name: db
    image: postgres:12-alpine
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - db-data:/var/lib/postgresql/data/pgdata
  mail:
    image: docker.io/mailserver/docker-mailserver:latest
    container_name: mail
    hostname: mail
    domainname: localhost
    ports:
      - "25:25"
      - "143:143"
      - "587:587"
      - "993:993"
volumes:
  odoo-data:
  db-data:
  admin-data:
  mail-data:
