[submodule "odoo"]
	path = odoo
	url = git@github.com:odoo/odoo.git
	branch = 18.0
	shallow = true
	commit = bfc57f9aec5f23c28228821684029d3980dbe0b2
[submodule "enterprise"]
	path = enterprise
	url = git@github.com:odoo/enterprise.git
	branch = 18.0
	shallow = true
	commit = fd8cdfd7f156dae7e0f38b8824d637e087f0e430
[submodule "themes"]
	path = themes
	url = git@github.com:odoo/design-themes.git
	branch = 18.0
	commit = 69abb550f878893a40f8fc28551a42152dafb8fb
[submodule "oca/sale-workflow"]
	path = oca/sale-workflow
	url = git@github.com:bosd/sale-workflow.git
	branch = 18.0
	commit = d78558ef206184599dc7f8b9607794fbfc508791
[submodule "addons/server_tools"]
	path = addons/server_tools
	url = git@github.com:Mint-System/Odoo-Apps-Server-Tools.git
	branch = 18.0
	commit = 111ff7e1af1800e7655ec78cf0c719d53e237c2a
[submodule "addons/hr"]
	path = addons/hr
	url = git@github.com:mint-system/odoo-apps-hr.git
	branch = 18.0
	commit = 34e77bc7b7ffb57b3252f764a71c0a6f8e06ba00
[submodule "addons/manufacture"]
	path = addons/manufacture
	url = git@github.com:mint-system/odoo-apps-manufacture.git
	branch = 18.0
	commit = 8c5bf16f737a1832083953607493154be4f5f476
[submodule "addons/stock_logistics_workflow"]
	path = addons/stock_logistics_workflow
	url = git@github.com:mint-system/odoo-apps-stock-logistics-workflow.git
	branch = 18.0
	commit = 50a94274c70e0fda07510f0cda881f3844d7550c
[submodule "oca/stock-logistics-workflow"]
	path = oca/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 18.0
	commit = 8bf90c5829bf26b8d2ae81feee135c41b964ebf9
[submodule "oca/server-env"]
	path = oca/server-env
	url = git@github.com:OCA/server-env.git
	branch = 18.0
	commit = a8f8888e542fdedf991ae2eea2e71c07a432d8cf
[submodule "oca/server-tools"]
	path = oca/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 18.0
	commit = 9fcbf77a85878eb27238275c436e86529fd70daf
[submodule "addons/connector"]
	path = addons/connector
	url = git@github.com:Mint-System/Odoo-Apps-Connector.git
	branch = 18.0
	commit = a564a78f5e40d9969761f1ef8fbcf3e1d0a80463
[submodule "oca/project"]
	path = oca/project
	url = git@github.com:OCA/project.git
	branch = 18.0
	commit = fa52ebcd54aa8ea200dd8f086780d99d9e9d6425
[submodule "oca/bank-statement-import"]
	path = oca/bank-statement-import
	url = git@github.com:OCA/bank-statement-import.git
	branch = 18.0
	commit = 61bdc0fa4c5d0131070b115a061ee1fa063b4b5a
[submodule "oca/partner-contact"]
	path = oca/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 18.0
	commit = da5570dee93dc3fdc7251731aaf5b9378973f8de
[submodule "addons/management_system"]
	path = addons/management_system
	url = git@github.com:Mint-System/Odoo-Apps-Management-System.git
	branch = 18.0
	commit = 4bdbf1cf134603feae8ebd96d261bf0a9a85de37
[submodule "oca/server-backend"]
	path = oca/server-backend
	url = git@github.com:OCA/server-backend
	branch = 18.0
	commit = c4108d878bd6c61e9c57310d9b0007a8971a220a
[submodule "oca/queue"]
	path = oca/queue
	url = git@github.com:OCA/queue.git
	branch = 18.0
	commit = 879d1a729f5a83fb8864bd4c1c0de15240f01708
[submodule "addons/account_invoicing"]
	path = addons/account_invoicing
	url = git@github.com:Mint-System/Odoo-Apps-Account-Invoicing.git
	branch = 18.0
	commit = c7f064696d5a90964173ddd92fd594a40702053d
[submodule "oca/bank-payment"]
	path = oca/bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 18.0
	commit = 6d47b7fbd7db318a3790cdff37b423dd4657ba6b
[submodule "oca/server-auth"]
	path = oca/server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 18.0
	commit = 6c7d03e3077d3fc24a91d4518d1cd1be23dd289a
[submodule "addons/partner_contact"]
	path = addons/partner_contact
	url = git@github.com:Mint-System/Odoo-Apps-Partner-Contact
	branch = 18.0
	commit = 1ff7d9662d8c0d061c951ea4cbde8c201378f3b6
[submodule "oca/web-api"]
	path = oca/web-api
	url = git@github.com:OCA/web-api.git
	branch = 18.0
	commit = 6713cd92c995c3186ed73c9c97f876ba07e1b2f7
[submodule "oca/hr-attendance"]
	path = oca/hr-attendance
	url = git@github.com:OCA/hr-attendance.git
	branch = 18.0
	commit = 92084396ca629dea3083046d718a7ef96416f91c
[submodule "oca/social"]
	path = oca/social
	url = git@github.com:OCA/social.git
	branch = 18.0
	commit = 70241eb3b0edef9271fccfb65fab384a2c1e4989
[submodule "oca/mail"]
	path = oca/mail
	url = git@github.com:OCA/mail.git
	branch = 18.0
	commit = 3ecff5ec814a0ebf0db9e442be0a9b35444a6bb9
[submodule "oca/connector"]
	path = oca/connector
	url = git@github.com:OCA/connector.git
	branch = 18.0
	commit = 83b706251e6e82b097a6696a0c89aa5621dd2778
[submodule "oca/web"]
	path = oca/web
	url = git@github.com:OCA/web.git
	branch = 18.0
	commit = 74dd4e6159021ca6c32a7d42d0d7ee0329333bdf
[submodule "oca/storage"]
	path = oca/storage
	url = git@github.com:OCA/storage.git
	branch = 18.0
	commit = ae3846e28a02d8d3eb1bde2f99be7f154878b343
[submodule "oca/rest-framework"]
	path = oca/rest-framework
	url = git@github.com:OCA/rest-framework.git
	branch = 18.0
	commit = c0e9e1ed43637e3c6c6fc0415538fd1ce95fc34b
[submodule "addons/vertical_saas"]
	path = addons/vertical_saas
	url = git@github.com:Mint-System/Odoo-Apps-Vertical-SaaS.git
	branch = 18.0
	commit = 376033ada54df5786abf87e5af5ba0530e7ad292
[submodule "oca/hr-holidays"]
	path = oca/hr-holidays
	url = git@github.com:OCA/hr-holidays.git
	branch = 18.0
	commit = 756ed9a7aee1f65d9d5b36b54d1a6c361cf2fdc1
[submodule "addons/social"]
	path = addons/social
	url = git@github.com:Mint-System/Odoo-Apps-Social
	branch = 18.0
	commit = efb773ba073ed859f89463a8d17671df55b99c52
[submodule "addons/purchase_workflow"]
	path = addons/purchase_workflow
	url = git@github.com:Mint-System/Odoo-Apps-Purchase-Workflow.git
	branch = 18.0
	commit = c0b3d144628403aea37f009f821053b819e6a627
[submodule "addons/spreadsheet"]
	path = addons/spreadsheet
	url = git@github.com:Mint-System/Odoo-Apps-Spreadsheet.git
	branch = 18.0
	commit = 6093b62d62233c3bae1a866a7ae9d5ee26d9d49a
[submodule "addons/account_financial_reporting"]
	path = addons/account_financial_reporting
	url = git@github.com:Mint-System/Odoo-Apps-Account-Financial-Reporting.git
	branch = 18.0
	commit = 9639e11bd56e6cf7bb9f41bc3be2ca46d06f48f2
[submodule "addons/sale_workflow"]
	path = addons/sale_workflow
	url = git@github.com:Mint-System/Odoo-Apps-Sale-Workflow.git
	branch = 18.0
	commit = 096fc42546cf668358d8ac162f38d7f5f3be8f16
[submodule "addons/account_reconcile"]
	path = addons/account_reconcile
	url = git@github.com:Mint-System/Odoo-Apps-Account-Reconcile.git
	branch = 18.0
	commit = 8a0d1b2c7bfc22979511b602f5c70537f7699cac
[submodule "oca/survey"]
	path = oca/survey
	url = git@github.com:OCA/survey.git
	branch = 18.0
	commit = b975679dd0d9079b50e1900884823f9cf5240926
[submodule "oca/openupgrade"]
	path = oca/openupgrade
	url = git@github.com:OCA/OpenUpgrade.git
	branch = 18.0
	commit = c8f348669c109724961c865d96621bb42e73f44d
[submodule "oca/account-invoicing"]
	path = oca/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 18.0
	commit = 7d9b2b5631b22d13786fb51972ceb562233c9330
[submodule "addons/product_attribute"]
	path = addons/product_attribute
	url = git@github.com:Mint-System/Odoo-Apps-Product-Attribute.git
	branch = 19.0
	commit = 7969072a4475eee82b022ffdea5fdad8d660b6d9
[submodule "oca/website"]
	path = oca/website
	url = git@github.com:OCA/website.git
	branch = 18.0
	commit = 0888bea1f74d12bafdfaacb90558f47aba376dfc
[submodule "oca/e-commerce"]
	path = oca/e-commerce
	url = git@github.com:OCA/e-commerce.git
	branch = 18.0
	commit = a2e9ca19840b0a7e6d5c7af8090eeae2e912f2d3
[submodule "addons/kubernetes"]
	path = addons/kubernetes
	url = git@github.com:Mint-System/Odoo-Apps-Kubernetes.git
	branch = 18.0
	commit = 7a0a971c1495b8cd772c17b5110062fa96479b75
[submodule "oca/repair"]
	path = oca/repair
	url = git@github.com:OCA/repair.git
	branch = 18.0
	commit = b6cc444eb694b7ee9fd7800782f59929cb849cdf
[submodule "oca/calendar"]
	path = oca/calendar
	url = git@github.com:OCA/calendar.git
	branch = 18.0
	commit = f8c36d708b381de5b03cb4d3f5c85ec86369b1d7
[submodule "oca/account-closing"]
	path = oca/account-closing
	url = git@github.com:OCA/account-closing.git
	branch = 18.0
	commit = b712d0fa4b80f455b72297dbdfe8bce39c44e213
[submodule "addons/website"]
	path = addons/website
	url = git@github.com:Mint-System/Odoo-Apps-website.git
	branch = 18.0
	commit = 946834dae965d0f0a48af70f1850c8e79a888ec5
[submodule "oca/helpdesk"]
	path = oca/helpdesk
	url = git@github.com:OCA/helpdesk.git
	branch = 18.0
	commit = ab01db39c6c3adaa3c7ec7d1a71b84823a26abc0
[submodule "addons/data_analytic"]
	path = addons/data_analytic
	url = git@github.com:Mint-System/Odoo-Apps-Data-Analytic
	branch = 18.0
	commit = 80bccbe9bfede2925d8b28ec97d9c10c8e053a36
