[submodule "odoo"]
	path = odoo
	url = git@github.com:odoo/odoo.git
	branch = 18.0
	shallow = true
[submodule "enterprise"]
	path = enterprise
	url = git@github.com:odoo/enterprise.git
	branch = 18.0
	shallow = true
[submodule "themes"]
	path = themes
	url = git@github.com:odoo/design-themes.git
	branch = 18.0
[submodule "oca/sale-workflow"]
	path = oca/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 18.0
[submodule "addons/server_tools"]
	path = addons/server_tools
	url = git@github.com:Mint-System/Odoo-Apps-Server-Tools.git
	branch = 18.0
[submodule "addons/hr"]
	path = addons/hr
	url = git@github.com:mint-system/odoo-apps-hr.git
	branch = 18.0
[submodule "addons/manufacture"]
	path = addons/manufacture
	url = git@github.com:mint-system/odoo-apps-manufacture.git
	branch = 18.0
[submodule "addons/stock_logistics_workflow"]
	path = addons/stock_logistics_workflow
	url = git@github.com:mint-system/odoo-apps-stock-logistics-workflow.git
	branch = 18.0
[submodule "oca/stock-logistics-workflow"]
	path = oca/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 18.0
[submodule "oca/server-env"]
	path = oca/server-env
	url = git@github.com:OCA/server-env.git
	branch = 18.0
[submodule "oca/server-tools"]
	path = oca/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 18.0
[submodule "addons/connector"]
	path = addons/connector
	url = git@github.com:Mint-System/Odoo-Apps-Connector.git
	branch = 18.0
[submodule "oca/project"]
	path = oca/project
	url = git@github.com:OCA/project.git
	branch = 18.0
[submodule "oca/bank-statement-import"]
	path = oca/bank-statement-import
	url = git@github.com:OCA/bank-statement-import.git
	branch = 18.0
[submodule "oca/partner-contact"]
	path = oca/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 18.0
[submodule "addons/management_system"]
	path = addons/management_system
	url = git@github.com:Mint-System/Odoo-Apps-Management-System.git
	branch = 18.0
[submodule "oca/server-backend"]
	path = oca/server-backend
	url = git@github.com:OCA/server-backend
	branch = 18.0
[submodule "addons/website"]
	path = addons/website
	url = git@github.com:Mint-System/Odoo-Apps-Website.git
	branch = 18.0
[submodule "oca/queue"]
	path = oca/queue
	url = git@github.com:OCA/queue.git
	branch = 18.0
[submodule "addons/sale_workflow"]
	path = addons/sale_workflow
	url = git@github.com:Mint-System/Odoo-Apps-Sale-Workflow.git
	branch = 18.0
