[submodule "themes"]
	path = themes
	url = git@github.com:odoo/design-themes.git
	branch = 16.0
[submodule "odoo"]
	path = odoo
	url = git@github.com:odoo/odoo.git
	branch = 16.0
	shallow = true
[submodule "oca/partner-contact"]
	path = oca/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 16.0
[submodule "addons/server_tools"]
	path = addons/server_tools
	url = git@github.com:Mint-System/Odoo-Apps-Server-Tools.git
	branch = 16.0
[submodule "oca/server-tools"]
	path = oca/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 16.0
[submodule "oca/sale-workflow"]
	path = oca/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 16.0
[submodule "oca/purchase-workflow"]
	path = oca/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 16.0
[submodule "oca/server-env"]
	path = oca/server-env
	url = git@github.com:OCA/server-env.git
	branch = 16.0
[submodule "addons/sale_workflow"]
	path = addons/sale_workflow
	url = git@github.com:Mint-System/Odoo-Apps-Sale-Workflow.git
	branch = 16.0
[submodule "addons/hr"]
	path = addons/hr
	url = git@github.com:Mint-System/Odoo-Apps-HR.git
	branch = 16.0
[submodule "addons/purchase_workflow"]
	path = addons/purchase_workflow
	url = git@github.com:Mint-System/Odoo-Apps-Purchase-Workflow.git
	branch = 16.0
[submodule "enterprise"]
	path = enterprise
	url = git@github.com:Odoo/enterprise.git
	branch = 16.0
	shallow = true
[submodule "oca/bank-payment"]
	path = oca/bank-payment
	url = git@github.com:OCA/bank-payment.git
	branch = 16.0
[submodule "oca/server-backend"]
	path = oca/server-backend
	url = git@github.com:OCA/server-backend.git
	branch = 16.0
[submodule "oca/account-invoicing"]
	path = oca/account-invoicing
	url = git@github.com:OCA/account-invoicing.git
	branch = 16.0
[submodule "addons/partner_contact"]
	path = addons/partner_contact
	url = git@github.com:Mint-System/Odoo-Apps-Partner-Contact.git
	branch = 16.0
[submodule "addons/account_invoicing"]
	path = addons/account_invoicing
	url = git@github.com:Mint-System/Odoo-Apps-Account-Invoicing.git
	branch = 16.0
[submodule "addons/sozialinfo"]
	path = addons/sozialinfo
	url = git@github.com:sozialinfo/odoo-apps-sozialinfo.git
	branch = 16.0
[submodule "oca/web-api"]
	path = oca/web-api
	url = git@github.com:OCA/web-api.git
	branch = 16.0
[submodule "oca/rest-framework"]
	path = oca/rest-framework
	url = git@github.com:OCA/rest-framework.git
	branch = 16.0
[submodule "oca/server-auth"]
	path = oca/server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 16.0
[submodule "oca/social"]
	path = oca/social
	url = git@github.com:OCA/social.git
	branch = 16.0
[submodule "addons/connector"]
	path = addons/connector
	url = git@github.com:Mint-System/Odoo-Apps-Connector.git
	branch = 16.0
[submodule "addons/account_reconcile"]
	path = addons/account_reconcile
	url = git@github.com:Mint-System/Odoo-Apps-Account-Reconcile.git
	branch = 16.0
[submodule "oca/hr-holidays"]
	path = oca/hr-holidays
	url = git@github.com:OCA/hr-holidays.git
	branch = 16.0
[submodule "addons/spreadsheet"]
	path = addons/spreadsheet
	url = git@github.com:Mint-System/Odoo-Apps-Spreadsheet.git
	branch = 16.0
[submodule "oca/survey"]
	path = oca/survey
	url = git@github.com:OCA/survey.git
	branch = 16.0
[submodule "addons/web"]
	path = addons/web
	url = git@github.com:sozialinfo/web.git
	branch = 16.0
[submodule "addons/social"]
	path = addons/social
	url = git@github.com:Mint-System/Odoo-Apps-Social.git
	branch = 16.0
