[submodule "odoo"]
	path = odoo
	url = git@github.com:odoo/odoo.git
	branch = 19.0
	shallow = true
[submodule "enterprise"]
	path = enterprise
	url = git@github.com:odoo/enterprise.git
	branch = 19.0
	shallow = true
[submodule "themes"]
	path = themes
	url = git@github.com:odoo/design-themes.git
	branch = 19.0
