[submodule "odoo"]
	path = odoo
	url = git@github.com:odoo/odoo.git
	branch = 19.0
	shallow = true
	commit = 77cda8dd500c7f24bd0ee98a0e6b7fadc6be5c31
[submodule "enterprise"]
	path = enterprise
	url = git@github.com:odoo/enterprise.git
	branch = 19.0
	shallow = true
	commit = b37d56f5a038e5bb9a3ac382ed9283f3f1a9bc8a
[submodule "themes"]
	path = themes
	url = git@github.com:odoo/design-themes.git
	branch = 19.0
	commit = 47294270e978a0081fef71e2f3966ad355b5e619
[submodule "addons/server_tools"]
	path = addons/server_tools
	url = git@github.com:Mint-System/Odoo-Apps-Server-Tools.git
	branch = 19.0
	commit = 69109b477495027293154137e6412abf969ab963
[submodule "oca/partner-contact"]
	path = oca/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 19.0
	commit = 3ad68fb6e15b820aa6ca3595c2ccdf06b321c2bf
[submodule "addons/management_system"]
	path = addons/management_system
	url = git@github.com:Mint-System/Odoo-Apps-Management-System.git
	branch = 19.0
	commit = 0f06bc9497327f36bdd09fb0f17ef2677f269438
[submodule "addons/sale_workflow"]
	path = addons/sale_workflow
	url = git@github.com:Mint-System/Odoo-Apps-Sale-Workflow.git
	branch = 19.0
	commit = 1561b0a2502693f21135221d6889ec175859e015
[submodule "addons/account_invoicing"]
	path = addons/account_invoicing
	url = git@github.com:Mint-System/Odoo-Apps-Account-Invoicing.git
	branch = 19.0
	commit = 80c8607bb2629016b9dd2106ffb3cbba963f17e4
[submodule "addons/purchase_workflow"]
	path = addons/purchase_workflow
	url = git@github.com:Mint-System/Odoo-Apps-Purchase-Workflow.git
	branch = 19.0
	commit = 8b4f075f6b0c606e05bf5bd3e9fbb7e560d50ba5
[submodule "addons/stock_logistics_workflow"]
	path = addons/stock_logistics_workflow
	url = git@github.com:Mint-System/Odoo-Apps-Stock-Logistics-Workflow.git
	branch = 19.0
	commit = 74721dc2a13777d15f5edb9c9d84a91ceb8389fd
[submodule "oca/sale-workflow"]
	path = oca/sale-workflow
	url = git@github.com:OCA/sale-workflow
	branch = 19.0
	commit = 9ba5dbddcff470438957721cf569276ff80ad5b1
[submodule "oca/server-tools"]
	path = oca/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 19.0
	commit = b33f241307ac68cca7c3b2bcefd6144888979deb
[submodule "addons/spreadsheet"]
	path = addons/spreadsheet
	url = git@github.com:Mint-System/Odoo-Apps-Spreadsheet.git
	branch = 19.0
	commit = fcf0e481f0ddfb4483b5d5cd3fce9d95ff9ddf18
[submodule "addons/product_attribute"]
	path = addons/product_attribute
	url = git@github.com:Mint-System/Odoo-Apps-Product-Attribute.git
	branch = 19.0
	commit = 225d3bdffe175a969fa61dbcf4652a0f7c32cfc8
[submodule "oca/mass-mailing"]
	path = oca/mass-mailing
	url = git@github.com:OCA/mass-mailing.git
	branch = 19.0
	commit = 039a66fa2ae224336fa92377b64089d972a24fed
[submodule "oca/account-analytic"]
	path = oca/account-analytic
	url = git@github.com:OCA/account-analytic.git
	branch = 19.0
	commit = 35191f283d407d86464248c1237cbc4773ad620a
[submodule "addons/website"]
	path = addons/website
	url = git@github.com:Mint-System/Odoo-Apps-Website
	branch = 19.0
	commit = 23dfeee60286c38d5034ecc43fda947a4dfcfa5f
[submodule "oca/hr-attendance"]
	path = oca/hr-attendance
	url = git@github.com:OCA/hr-attendance.git
	branch = 19.0
	commit = 6af354e9e0f21ebec6c9c052c2789578d33d206a
[submodule "addons/partner_contact"]
	path = addons/partner_contact
	url = git@github.com:Mint-System/Odoo-Apps-Partner-Contact.git
	branch = 19.0
	commit = bf6643361428abd9f320fb7def5a49fac68ac116
[submodule "addons/tender"]
	path = addons/tender
	url = git@github.com:Mint-System/Odoo-Apps-Tender
	branch = 19.0
	commit = d04231efa1f321d9d27b1b977e265afa6889c11e
[submodule "addons/manufacture"]
	path = addons/manufacture
	url = git@github.com:Mint-System/manufacture.git
	branch = 19.0
	commit = 23e0e891525414e8f0c3cb00ea0b934ccd7e9420
